<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Login | Bonfires</title>


	<link rel="stylesheet" href="../css/mdi/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="../css/style_one.css">
	<link rel="shortcut icon" href="../images/chat-icon.png" />

	<script type="text/javascript" src="../libraries/jquery-3.min.js"></script>
</head>

<body>
	<div class="container-scroller">
		<div class="container-fluid page-body-wrapper full-page-wrapper">
			<div class="content-wrapper d-flex align-items-center auth px-0">
				<div class="row w-100 mx-0">
					<div class="col-lg-4 mx-auto">
						<div class="auth-form-light text-left py-5 px-4 px-sm-5">
							<div class="brand-logo">
			                	<img src="../../images/icon_orig.png" alt="logo">
							</div>
							<h4>Hello! let's get started</h4>
							<h6 class="font-weight-light">Sign in to continue.</h6>
							<form class="pt-3">
								<div class="Basic" style="display: none;">
									<div class="form-group">
										<input type="email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Username">
									</div>
									<div class="form-group">
										<input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password">
									</div>
									<div class="mt-3">
										<a class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" href="../../index.html">SIGN IN</a>
									</div>
									<div class="my-2 d-flex justify-content-between align-items-center">
										<div class="form-check">
											<label class="form-check-label text-muted">
												<input type="checkbox" class="form-check-input">
												Keep me signed in
											</label>
										</div>
										<a href="#" class="auth-link text-black">Forgot password?</a>
									</div>
								</div>

								<div class="Facebook" style="display: none;">
									<div class="mb-2">
										<button type="button" id="fb-login" class="btn btn-block btn-facebook auth-form-btn">
											<i class="mdi mdi-facebook mr-2"></i>Connect using facebook
										</button>
									</div>
								</div>

								<div class="Twitter" style="display: none;">
									<div class="mb-2">
										<button type="button" id="tw-login" class="btn btn-block btn-twitter auth-form-btn">
											<i class="mdi mdi-twitter mr-2"></i>Signin with Twitter
										</button>
									</div>
								</div>

								<div class="MetaMask" style="display: none;">
									<div class="mb-2">
										<button type="button" id="mm-login" class="btn btn-block btn-metamask auth-form-btn">
											<img src="../images/metamask.png" width="30px" class="mr-2">Signin with Metamask
										</button>
									</div>
								</div>

								<div class="WalletConnect" style="display: none;">
									<div class="mb-2">
										<button type="button" id="wc-login" class="btn btn-block btn-wc auth-form-btn">
											<img src="../images/wallet-connect.ico" width="30px" class="mr-2">Signin with Wallet Connect
										</button>
									</div>
								</div>

								<div class="text-center mt-4 font-weight-light">
									Don't have an account? <a href="signUpPage.html" class="text-primary">Create</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- content-wrapper ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>

	<!-- Scripts -->
	<script type="text/javascript" src="../scripts/EventListeners.js"></script>
	<script type="text/javascript" src="../scripts/FrameEvents.js"></script>
	<script type="text/javascript" src="../scripts/Helper.js"></script>
	<script type="text/javascript" src="../scripts/Storage.js"></script>
	<script type="text/javascript" src="../scripts/ExtensionState.js"></script>
	<script type="text/javascript" src="../scripts/Variables.js"></script>
	<script type="text/javascript" src="../scripts/Request.js"></script>
	<script type="text/javascript" src="../scripts/loginPage.js"></script>

</body>

</html>
