<!DOCTYPE html>
<html>
	<head>
		<title>Bonfires - Login</title>
		<link rel="stylesheet" type="text/css" href="../libraries/bootstrap4.min.css">
		<link rel="stylesheet" type="text/css" href="../css/style.css">

		<script type="text/javascript" src="../libraries/jquery-3.min.js"></script>
		<script type="text/javascript" src="../libraries/popper4.min.js"></script>
	</head>
	<body>
		<div id="ask-username" class="new-chat-design">
			<button type="button" class="close popup-close" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div>&nbsp;</div>

			<h1>Please enter your username</h1>
			<label for="username">
				<input type="text" class="form-control" placeholder="Your username here" id="username">
				<span class="message alert" style="display: none;" role="alert">
					<i></i>
				</span>
			</label>

			<button class="submit-button login">
				<a href="#"> Login</a>
			</button>

			<div class="extra-buttons">
				<a href="#" class="user-register"> Signup</a>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../libraries/bootstrap4.min.js"></script>
	<script type="text/javascript" src="../scripts/Variables.js"></script>

	<script type="text/javascript" src="../scripts/chromeMessages.js"></script>
	<script type="text/javascript" src="../scripts/Request.js"></script>
	<script type="text/javascript" src="../scripts/EventListeners.js"></script>
	<script type="text/javascript" src="../scripts/FrameEvents.js"></script>
</html>
