<!DOCTYPE html>
<html>
<head>
	<title>Wallet Login Success</title>

	<script type="text/javascript" src="../libraries/jquery-3.min.js"></script>
	<script type="text/javascript" src="../libraries/sweetalert.min.js"></script>
</head>
<body>

	<script type="text/javascript" src="../scripts/Storage.js"></script>
	<script type="text/javascript" src="../scripts/User.js"></script>
	<script type="text/javascript" src="../scripts/onWeb3Login.js"></script>
	<script type="text/javascript" src="../scripts/ExtensionState.js"></script>
	<script type="text/javascript" src="../scripts/Variables.js"></script>
</body>
</html>